.link-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
}

.link-bar-item {
    margin: 5px;
    font-family: arial, sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
  }

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
}

div img {
    margin-top: 175px;
}

.round-bar {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 584px;
    max-width: 584px;
}

.centered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons-centered {
    display: flex;
    padding: 11px;
    width: 550px;
}

#mag-icon {
    margin-top: 2px;
}

#search-field {
    width: 500px;
    background: transparent;
    border: none;
    outline: 0;
    height: 20px;
    margin-left: 10px;
    appearance: none;
}

search-field:focus {
    outline: none!important;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#advanced-h2 {
    margin: 25px 35px;
    margin-left: 10px;
}

#a-red {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial, sans-serif;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

#form-section {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

#a-forms {
    display: flex;
    flex-direction: row;
}

#a-left, #a-mid, #a-right {
    display: flex;
    flex-direction: column;
}

#a-left, #a-right {
    font-family: arial, sans-serif;
}

.left-label, .a-right-space {
    font-size: 13px;
}

#a-find, #a-todo {
    font-size: 16px;
}

.a-left-space {
    float: left;
    height: 40px;
    vertical-align: middle;
    padding-left: 5px;
    width: 100%;
}

.a-mid-space {
    float: left;
    vertical-align: middle;
    height: 29px;
    padding-top: 3px;
    padding-left: 5px;
    margin-top: 5px;
    width: 100%;
}

.a-right-space {
    float: left;
    vertical-align: middle;
    height: 40px;
    margin-top: 2px;
    width: 100%;
}

#a-mid {
    display: flex;
    flex-direction: column;
    min-width: 167px;
    min-height: 42px;
    vertical-align: middle;
    width: 50%;
}

#a-space {
    color: transparent;
}

.a-input {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 95%;
}

.right-label {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}